{% extends 'mainTemplate.html' %}



{% block body %}
<div class="body_size container">
    <div class="row ex-div" style="background-color: #0fe7b8c6 !important;">
        <div class="col-5">
            <img src="{{media_url}}images/img/2.jpg" width="400px" height="300px" alt="عکس مطب">
        </div>
        <div class="col-7">
            <h3 class="h3-font">مرکز مشاوره و روانشناسی کودک آداک</h3>
            <p class="p-font" style="line-height: 30px !important;">گروه روانشناسی آداک، از بهمن ماه سال 1401 فعالیت خود را آغاز کرده و امیدوار است 
                گامی هرچند کوچک در مسیر سلامت روان جامعه بردارد.
                 آداک، با دارا بودن کادر درمانی و متخصص در زمینه ها و گرایش های مختلف روانشناختی کودک،
                  توانسته است تیمی قدرتمند و مجرب را در محیطی آرام، بزرگ و مناسب گرد هم آورد.
                   هدف گروه روانشناسی آداک، بالا بردن سطح سلامت روان در اجتماع است.
                    هم اینک گروه تخصصی آداک  با داشتن فضای مناسب با در اختیار داشتن جدید ترین تکنولوژی ها
                     و ابزارهای روانشناختی زیر نظر برجسته ترین اساتید 
                     روانشناختی کشور، آماده ارائه خدمات تشخیصی و درمانی کودکان می باشد.
            </p>
        </div>
        <div>
            <div class="row" style="padding: 35px 40px 1px 10px;">    
                <p class="adres h-font">آدرس:</p>
                <i class="h-font">
                    اصفهان خیابان شمس آبادی مجمتع قصر واحد204   
                </i>
            </div>
    
            <div class="row" style="padding: 10px 40px 1px 3px;">    
                <p class="adres h-font">شماره تماس جهت رزرو نوبت: </p>
                <i class="h-font">031-37242047</i>
            </div>
        </div>
    </div>
</div>
{% endblock body %}