{% extends 'mainTemplate.html' %}

    {%block home%}
    <section class="landing">
        <div class="home-wrap">
            <div class="home-inner"></div>
        </div>
    </section>
    <section class="caption text-center">
        <h1>مرکز مشاوره و روانشناسی کودک آداک </h1>
        <h3>بزرگترین ارائه دهنده آزمون های روانشناختی آنلاین کودک درایران</h3>
        <a href="{%url 'exam:all_exam'%}" class="btn btn-outline-light btn-start"> انجام آزمون</a>
    </section>
    {%endblock home%}


    {%block body%}
    <!-- Tests -->
    <div id="tests" class="bg-white">
        <div class="col-12 text-center area">
            <h2>
                ارائه دهنده خدمات مشاوره بصورت حضوری و غیر حضوری 
            </h2>
            <!-- <p>
                ویژگی و استعداد های کودک خود را با انجام چند تست ساده کشف کنید و باعث پیشرفت کودک خود شوید!
            </p> -->
            <a href="#" class="btn btn-secondary">
                دریافت نوبت 
            </a>
        </div>

    </div>
    <!-- End Tests -->
    
    <!-- Services -->
    <div id="services" >
        <div class="jumbotron">
            <div class="area text-center">
                <div class="col-12 text-center">
                    <h2 class="title">خدمات مرکز مشاوره آداک</h2>
                    <div class="underline"></div>
                </div>
                <div class="row text-center">
                    <div class="col-4">
                        <div class="service">
                            <i class="fa fa-play-circle fa-3x"></i>
                            <h3>مشاوره با مشاورین مجرب</h3>
                            <p>مهمترین خدمات ما در مرکز مشاوره آداک ارائه مشاوره در زمینه های مختلف چگونگی برخورد و رفتار با کودک که به دو صورت حضوری و مجازی ارائه می شود.</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="service">
                            <i class="fa fa-file fa-3x"></i>
                            <h3>آزمون های شخصیت شناسی </h3>
                            <p>یکی از خدمات سایت آداک ارائه به روزترین آزمون ها در حوزه های مختلف شخصیت شناسی و شناخت استعدادهای کودک </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="service">
                            <i class="fa fa-edit fa-3x"></i>
                            <h3>مقالات</h3>
                            <p> از دیگر خدمات سایت مشاوره وروانشناسی آداک می توان به ارائه جدیدترین مقالات در حوزه های مختلف چگونگی رفتار اعضای خانواده با کودک خود در قالب پست اشاره کرد</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->
    
    <!-- Product Group -->
    <div id="product-group">
        <div class="group-backgroun">
            <div class="text-center dark">
                <div class="col-12 text-center">
                    <h2 class="title">گروه محصولات</h2>
                    <div class="underline"></div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="service">
                            <i class="fa fa-code fa-3x"></i>
                            <h3>
                                ویدئو
                            </h3>
                            <p>
                                آشنایی با ....
                            </p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="service">
                            <i class="fa fa-code fa-3x"></i>
                            <h3>
                                ویدئو
                            </h3>
                            <p>
                                آشنایی با...
                            </p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="service">
                            <i class="fa fa-code fa-3x"></i>
                            <h3>
                                ویدئو
                            </h3>
                            <p>
                                آشنایی با ...
                            </p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="service">
                            <i class="fa fa-code fa-3x"></i>
                            <h3>
                                ویدئو
                            </h3>
                            <p>
                                آشنایی با...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-wrap">
                <div class="fixed">

                </div>
            </div>

        </div>
    </div>
    <!-- End Product Group -->





    <!-- Consultants -->
        <div id="consultants">
            <div class="jumbotron">
                <div class="col-12 text-center">
                    <h2 class="title">مشاورین ما</h2>
                    <div class="underline"></div>
                </div>

                <div class="row m-0">
                    {% for item in list_consultant %}
                    <div class="row col-6">
                        <div class="col-4">
                            <img src="{{media_url}}{{item.img}}" alt="{{item.name}}">
                        </div>
                        <div class="col-8">
                            <blockquote>
                                <i class="fas fa-quote-left"></i>
                                {{item.education}}
                                <br>
                                {{item.resume}}
                                <hr class="consultant-hr">
                                <cite>
                                    - <strong>{{item.name}}</strong>، {{item.education}}
                                </cite>
                            </blockquote>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>



            <!-- About Consultants -->
            <div id="about" class="bg-white">
                <div class="col-12 text-center area">
                    <h2>
                        آیا می خواهید با مشاورین بیشتر ما آشنا شوید؟
                    </h2>
                    <p>
                        ما سعی کرده ایم بهترین مشاورین را با جدید ترین متدهای درمانی
                        از سراسر کشور دورهم جمع کنیم تا بتوانیم با کیفیت ترین خدمات را در اختیار شما قرار دهیم
                    </p>
                    <a href="{%url 'main:consultant'%}" class="btn btn-secondary">آشنایی با مشاورین بیشتر</a>
                </div>
            </div>
            <!-- End About Consultants -->
        </div>
        <!-- End Consultants -->




    <!-- blog -->
    <div id="authors" class="authors">
        <div class="jumbotron">
            <div class="col-12 text-center">
                <h2 class="title">جدید ترین مقالات سایت</h2><div class="underline"></div>
            </div>
            <div class="container text-center py-3">
                <div class="row">
                    {% for blog in list_blog %}
                        <div class="col-lg-3 col-md-3 author">
                            <div class="card">
                                <div class="card-body">
                                    
                                    <img src="{{media_url}}{{blog.main_img}}" class="img-fluid rounded-circle w-50" alt="تصویر">
                                    
                                    <h3>{{blog.blog_title}}</h3>
                                    
                                    <p class="justify-content-center">{{blog.blog_summery}}</p>
                                    
                                    <div class="flex-row"><a href="">ادامه مطلب</a></div>

                                </div>
                            </div>
                        </div>
        
                    {% endfor %}             
                </div>
            </div>
        </div>
    </div>


        
        <!-- End blog -->
    
        

{%endblock body%}


