{% extends 'mainTemplate.html' %}



{% block body %}
        <div class="body_size container">
            <div style="border:1px solid gray;">
                <div>
                    <img src="{{media_url}}{{article.main_img}}" width="100%" height="300px">
                </div>
                <div>
                    <h1 style="font-family: 'yekan';">
                        {{article.blog_title}}
                    </h1>
                </div>
                <div>
                    <p class="blog-p">
                        {{article.blog_text}}
                    </p>
                </div>
            </div>
        </div>
    
{% endblock body %}