{% extends 'mainTemplate.html' %}



{% block body %}
        <div class="body_size container">
            <h1 class="h-font text-center title-h">لیست مقالات</h1>
            {% for item in blogs %}
            {% if item.is_active %}
                <div class="row blogdiv">
                    <div class="col-4"> 
                        <img src="{{media_url}}{{item.main_img}}" alt="تصویر مقاله" class="blogimg">
                    </div>
                    <div class="col-8">
                        <h3 class="h3-font">{{item.blog_title}}</h3>
                        <p class="blog-p">
                            {% comment %} {{item.blog_summery}} {% endcomment %}
                            {{item.blog_text| truncatewords:30}}  
                        </p>
                        <a href="{%url 'main:article_detail' item.blog_title %}">ادامه مطلب</a>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            <br><br>
            <div class="btn btn-primary btn-block in-bt container">
                <a class="butten-a btn-block" href="{%url 'main:registerblog'%}">ثبت مقاله جدید</a>
            </div>
        </div>
    
{% endblock body %}