{% extends 'mainTemplate.html' %}



{% block body %}
        <div class="body_size container">
            <h1 class="h-font text-center title-h">لیست آموزش ها</h1>
            <div class="row">
                {% for item in videos %}
                    <div class="col-3 wh">
                        <video controls poster="{{media_url}}{{item.poster}}" width="300px" height="300px">
                            <source src="{{media_url}}{{item.video}}" width="500px" height="500px">
                        </video>
                    </div>
                {% endfor %}
            </div>
            <br><br>
            <div class="btn btn-primary btn-block in-bt container">
                <a class="butten-a btn-block" href="{%url 'main:create_video'%}">بار گذاری ویدئو جدید</a>
            </div>
        </div>
    
{% endblock body %}