<div class="row justify-content-center m-0">
    <div class="col-md-5 text-center">
        <img src="images/logo/darsman-main-logo.png" alt="" srcset="">
        <p>
            آداک اولین سایت مشاوره و روانشناس کودک و نوجوان در ایران نیست اما اولین سایت جامع برگزار کننده آزمون های روانشناختی تخصصی است.  
        </p>
        <p>
            تلفن پشتیبانی : 0910000000
            <br> ایمیل پشتیبانی : mahboub.j79@gmail.com
            <br>
            <a href="#">
                <i class="fab fa-twitter-square">
                </i>
            </a>
            <a href="#">
                <i class="fab fa-instagram">
                </i>
            </a>
            <a href="#">
                <i class="fab fa-facebook-square">
                </i>
            </a>
            <a href="#">
                <i class="fab fa-youtube-square">
                </i>
            </a>
            <hr class="footer-hr"> کلیه حقوق مادی و معنوی این وب سایت متعلق به
            <a href="#" class="aryasoft-title">
                سایت آداک
            </a> می باشد .
        </p>
    </div>
</div>
<!-- <div class="btn-group-fab">
    <a class="btn btn-main btn-primary active" title="خدمات ما" data-toggle="tooltip" data-placement="left">
        <i class="fa fa-bars"></i>
    </a>

    <a href="#" class="btn btn-sub btn-info" title="مرکز مشاوره آداک" data-toggle="tooltip" data-placement="left">
        <i class="fa fa-globe"></i>
    </a>
    <a href="#" class="btn btn-sub btn-danger" title="اینستاگرام آداک" data-toggle="tooltip" data-placement="left">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="#" class="btn btn-sub btn-warning" title="انجمن آداک" data-toggle="tooltip" data-placement="left">
        <i class="fa fa-save"></i>
    </a> -->
</div>