<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a href="#" class="navbar-brand">
        <img src="{{media_url}}/images/logo/logo_4.jpg" alt="آداک" width="30" height="30">
    </a>
    <a class="navbar-brand" href="#">مرکز مشاوره آداک</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'main:index'%}">خانه <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tests">آزمون ها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#services">خدمات ما</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#product-group"> محصولات </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#consultants">مشاورین</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#authors">مقالات</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {%if user.is_authenticated %}
                <li class="nav_item active"><a class="nav-link" href="{% url 'accounts:logout'%}">خروج<span class="sr-only">(current)</span></a></li>
            {%else%}
                <li class="nav-item active"><a class="nav-link" href="{% url 'accounts:login'%}">ورود<span class="sr-only">(current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'accounts:register'%}">ثبت نام<span class="sr-only">(current)</span></a></li>
            {%endif%}
        </ul>
    </div>
</nav>