{% extends 'mainTemplate.html' %}



{%block home%}
<div style="width:500px; height:500px; padding:200px; ">
    <div>
        <div><a href="{%url 'exam:exam1'%}">آزمون اول</a></div>
        <div><a href="{%url 'exam:exam2'%}">آزمون دوم</a></div>
        <div><a href="{%url 'exam:exam3'%}">آزمون سوم</a></div>
        <div><a href="{%url 'exam:exam4'%}">آزمون چهارم</a></div>
        <div><a href="{%url 'exam:exam5'%}">آزمون پنجم</a></div>
        <div><a href="{%url 'exam:exam6'%}">آزمون ششم</a></div>
        <div><a href="{%url 'exam:exam7'%}">آزمون هفتم</a></div>
        <div><a href="{%url 'exam:exam8'%}">آزمون هشتم</a></div>
    
    </div>
</div>
{%endblock home%}