{% extends 'mainTemplate.html' %}




    {%block body%}
    
    <div class="body_size container">
        <div class="row">
            <h1 class="h-font">{{lable}} : <span id="ooo">{{titr}}</span></h1>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <ol> 
                {{form.as_ul}}
            </ol>
            <br>
            <input class="btn btn-primary btn-block in-bt container" type="submit" value="ثبت آزمون">
        </form>
    </div>
            

    {%endblock body%}


