<!--to load static folder -->
{% load static %} 
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مرکز مشاوره وروانشناسی آداک </title>
    <link rel="icon" href="../media/images/logo/logo_4.jpg" type="image/ico" />   
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-rtl.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    

</head>
<body class="rtl">
    {% include 'pertials/messages.html'%}
    <!-- Home-->
    <div id="home">
        <!--navbar-->
        {% include 'pertials/navbar.html' %}
        
        <!--Home section-->
        {%block home%} {%endblock home%}

    </div>
    <!--End Home-->

    {%block body%} {%endblock body%}
    
    <footer>
        {% include 'pertials/footer.html' %}
    </footer>




    
    {% include  'pertials/script.html'%}
</body>
</html>